/*Header parallax start*/

.hero {
  position: relative;
  width: 100%;
  height: 1500px;
  overflow: hidden;
}

header {
  position: relative;
  padding: 50px 80px 0;
  box-sizing:border-box;
  z-index: 5;
}

.nav__bar {
  max-width: 1760px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.logo {
  width: 108px;
  height: 24px;
  left: 0px;
  top: 0px;
}

.header__list {
  width: 283px;
  height: 22px;
  display: flex;
  justify-content: space-between;
}

.header__item-text {
  transition: 0.3s ease-in-out;
  text-decoration: none;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
}

.header__item-text:hover {
  transform: translateY(-4px);
  color: #FBD784;
}

.account {
  transition: 0.3s ease-in-out;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  text-align: center;
}

.account::before {
  content: '';
  background: url(../img/user-icon.svg);
  background-repeat: no-repeat;

}

.account:hover {
  transform: translateY(-4px);
  color: #FBD784;
}

.parallax__wrapper {
  position: relative;
  transition: all 1s ease-in-out;
}

.parallax {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  transition: inherit;
}

.parallax__img-1 {
  background: url(../img/top-img.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  transition: inherit;
  z-index: 2;
  height: 1600px;
  width: calc(100% + 20px);
  left: -10px;
  right: -20px;
  top: -73px;
}

.parallax__img-2 {
  background: url(../img/center-img.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  transition: inherit;
  z-index: 2;
  height: 926px;
  width: calc(100% + 20px);
  left: -10px;
  right: -20px;
  top: 277px;
  /* top: 70%; */
}

.parallax__img-3 {
  background: url(../img/bottom-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  transition: inherit;
  z-index: 4;
  width: calc(100% + 20px);
  left: -10px;
  right: -20px;
  height: 700px;
  top: 463px;
}

.gradient-img {
  background: url(../img/gradient-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  transition: inherit;
  width: calc(100% + 20px);
  left: -10px;
  right: -10px;
  height: 700px;
  top: 735px;
  z-index: 4;
}


.gradient-hero {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #0b1d26, transparent 87%);
  opacity: 0.6;
  z-index: 2;
}

.content__wrapper {
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
}

.content {
  max-width: 790px;
  margin: 0 auto;
}

.tagline__wrapper {
  display: flex;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 32px;
}

.line {
  width: 72px;
  height: 2px;
  background: #FBD784;
  margin-right: 32px;
}

.tag {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}

.content__title {
  max-width: 790px;
  height: 200px;
  text-align: left;
  font-family: Chronicle Display;
  font-weight: 325;
  font-size: 75px;
  line-height: 120%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.scroll__down {
  transition: 0.3s ease-in-out;
  max-width: 126px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.scroll__down:hover .scroll__text {
  color: #FBD784;
}
.scroll__down:hover .scroll__ico path {
  fill: #FBD784;
}

.scroll__text {
  transition: inherit;
  margin-right: 16px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
.scroll__ico {
  transition: inherit;
  width: 16px;
  height: 24px;
}

.scroll__ico  path {
  transition: inherit;
}

/*Header parallax end*/

/*Useful Articles start*/

.useful__articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 7;
  background-color: #0B1D26;
}

.article {
  max-width: 1462px;
  width: 100%;
  height: 720px;
  display: flex;
  align-items: center;
  margin-bottom: 200px;
  justify-content: space-evenly;
}

.article:nth-child(even) {
  flex-direction: row-reverse;
}

.article__left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__content {
  position: relative;
  max-width: 632px;
  height: 439px;
}

.content__02 {
  margin-left: 264px;
}

.article__number {
  position: absolute;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 200px;
  line-height: 100%;
  color: #FFFFFF;
  opacity: 0.1;
  left: -122px;
  top: -72px;
  z-index: -1;
}

.article__tagline {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
  z-index: 7;
}

.article__line {
  width: 72px;
  height: 2px;
  background: #FBD784;
  margin-right: 24px;
}

.article__tag {
  font-family: Gilroy;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}

.article__title {
  max-width: 555px;
  height: 154px;
  text-align: left;
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 350;
  font-size: 60px;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 27px;
  z-index: 7;
}

.article__subtitle {
  max-width: 632px;
  height: 160px;
  text-align: left;
  font-family: Gilroy;
  font-weight: 325;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 27px;
  z-index: 7;
}

.article__link-wrapper {
  display: flex;
  align-items: center;
  z-index: 7;
}

.article__link-text {
  text-decoration: none;
  margin-right: 16px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FBD784;
}

/*Useful Articles end*/

/*Footer start*/

footer {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 7;
  background-color: #0B1D26;
  text-align: left;
  padding: 0 0 100px;
  box-sizing: border-box;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1462px;
  width: 100%;
  z-index: 7;
}

.footer__logo {
  width: 108px;
  height: 38px;
  top: 0;
  left: 0;
  margin-bottom: 24px;
}

.footer__text {
  font-family: Gilroy;
  max-width: 290px;
  font-weight: 325;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 122px;
}

.footer__copyright {
  font-family: Gilroy;
  font-weight: 325;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  opacity: 0.5;
}

.footer__right-side {
  width: 566px;
  display: flex;
  justify-content: space-around;

}

.more__blog-title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FBD784;
  margin-bottom: 24px;
}

.more__blog-item {
  margin-bottom: 16px;
}

.more__blog-link {
  text-decoration: none;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 325;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.more__team-title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FBD784;
  margin-bottom: 24px;
}

.more__team-item {
  margin-bottom: 16px;
}

.more__team-link {
  text-decoration: none;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 325;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

/*Footer end*/